* {
    font-family: comic sans ms;
    text-align: center;
    list-style-position: inside;
}

html {
    background-color: #D6DAC8;
}

.recipe-page {
    background-color: #FBF3D5;
    width: 60%;
    border: 5px solid #EFBC9B;
    border-radius: 20px;
    padding: 0;
    margin: 0 auto;
}

img {
    width: 600px;
    display: block;
    margin: 0 auto;
}

.divider {
    border-bottom: 4px solid #EFBC9B;
}

ul > li {
    margin: 5px 50px 5px 0;
}

.coloring {
    color: #C68484
}

.bold {
    font-weight: 600
}